.recording-in {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 852px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
}

.recording-in .nav-bar {
  display: flex;
  height: 61px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #e1f0fe;
}

.recording-in .sign-now-PNG-no {
  position: relative;
  width: 107px;
  height: 59px;
  aspect-ratio: 1.81;
  object-fit: cover;
}

.recording-in .frame {
  display: flex;
  flex-direction: column;
  width: 97px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: relative;
  margin-top: -17.75px;
  margin-bottom: -17.75px;
}

.recording-in .material-symbols {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 76.5px;
}

.recording-in .vector {
  position: absolute;
  top: 25px;
  left: 22px;
  width: 33px;
  height: 26px;
}

.recording-in .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #4285f4;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36.0px;
}

.recording-in .div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.recording-in .frame-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.recording-in .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.recording-in .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #adacac;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.0px;
  white-space: nowrap;
}

.recording-in .maki-arrow {
  position: relative;
  width: 31px;
  height: 31px;
  aspect-ratio: 1;
}

.recording-in .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #6a6a6a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.0px;
  white-space: nowrap;
}

.recording-in .stop-recording {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
}

.recording-in .stop-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  box-shadow: 0px 4px 4px #00000040;
}

.recording-in .ellipse-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.recording-in .ellipse {
  position: relative;
  width: 67px;
  height: 67px;
  background-color: #4285f4;
  border-radius: 33.5px;
  border: 4px solid;
  border-color: #e1f0fe4c;
}

.recording-in .material-symbols-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 21px;
  left: 22px;
}

.recording-in .img {
  position: relative;
  flex: 0 0 auto;
}

.recording-in .please-select-sign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 221px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.recording-in .bottom-nav-bar {
  display: flex;
  height: 61px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #e1f0fee6;
}

.recording-in .mdi-language {
  position: relative;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.recording-in .vector-2 {
  position: relative;
  width: 23px;
  height: 32px;
}

.recording-in .mdi-account {
  position: relative;
  width: 27px;
  height: 27px;
  aspect-ratio: 1;
}